<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemasIII.My.MySettings.sistemas3ConnectionString"
            connectionString="user id=root;password=sistemas123;persistsecurityinfo=True;server=localhost;database=sistemas3"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>